@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661484604081') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuzhouxingqiu-06:before {
  content: "\e603";
}

.icon-yuzhouxingqiu-03:before {
  content: "\e604";
}

.icon-yuzhouxingqiu-10:before {
  content: "\e606";
}

.icon-yuzhouxingqiu-16:before {
  content: "\e609";
}

.icon-xingqiu:before {
  content: "\e615";
}

.icon-waixingqiu:before {
  content: "\e605";
}

